.container-fluid {
    width: 1380px;
    margin: 0 auto;
}
.navbar {
    padding: 0;
    width: 100%;
    background-color: whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: #333;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: lightgrey;
    text-decoration: none;
    color: #333;
}

.active {
    background-color: #61dafb;
}
